* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
body {
	font-family: 'montserrat';
}
.contenedor{
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

header .textos-header{
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
nav{
	text-align: right;
	padding: 0px 50px 0 0;
/*MENÚ*/
}

nav >a{
	color: #c9caca;
	font-weight: 300;
	text-decoration: none;
	margin-right: 10px;

}

nav >a:hover {
	text-decoration: underline;
}
header .textos-header{
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: right;

}
